# Markup

In [1]:
BASE_DIR = '/Users/efraflores/Desktop/EF/Corner/Catalog/Markup/data'
STORE = 'chedraui'

## Import

In [2]:
import sys
sys.path.append('/Users/efraflores/Desktop/hub/playground/venv/lib/python3.9/site-packages')

In [3]:
import os
import numpy as np
import pandas as pd
pd.options.display.float_format = '{:,.1f}'.format

prod = pd.read_csv(os.path.join(BASE_DIR,f'catalog_prod_{STORE}.csv'))
supply = pd.read_csv(os.path.join(BASE_DIR,f'catalog_supply_{STORE}.csv'))

display(prod.sample())
display(supply.sample())

        store_id  catalog_product_id  branch  productbranch_id  price
933949        22             2136516     139          54171713   29.9

,sku_source,supply_product_id,catalog_product_id,name,barcode,branch,price_mode,stock,min_last_visit
284244,chedraui-mx,259585,NaN,"Yoghurt Batido Lala 1 kg, Durazno","750,102,051,059.0",849,24.8,75.0,2020-03-20T10:47:33.236155Z

### Full catalog

In [4]:
#full = supply.copy()
full = prod.merge(supply,how='left')
full.isnull().mean()

store_id             0.0
catalog_product_id   0.0
branch               0.0
productbranch_id     0.0
price                0.0
sku_source           0.7
supply_product_id    0.7
name                 0.7
barcode              0.7
price_mode           0.7
stock                0.7
min_last_visit       0.7
dtype: float64

### Orders

In [5]:
orders = pd.read_csv(os.path.join(BASE_DIR,f'orders_{STORE}.csv'))
orders.head(2)

,level,date,catalog_product_id,branch,productbranch_id,min_branch_price,avg_branch_price,max_branch_price,min_shopper_price,avg_shopper_price,max_shopper_price,requested,found,orders,sales
0,TOTAL,2021-06-07,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"119,654.0","109,133.0",5176,"6,844,166.5"
1,TOTAL,2021-06-08,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,"89,717.0","82,061.0",4083,"5,108,588.4"

## Functions

### Timing and tone

In [6]:
import time
from IPython.lib.display import Audio

start = time.time()
def time_exp(x):
    minutes, seconds = np.floor(x/60), 60*(x/60-np.floor(x/60))
    print(f"{'{:.0f}'.format(minutes)} minutos con {'{:.2f}'.format(seconds)} segundos")
    
def tono(a = 1000, b = 700, play_time_seconds = 1, framerate = 4410):
    t = np.linspace(0, play_time_seconds, framerate*play_time_seconds)*np.pi
    return Audio(np.sin(a*t) + np.sin(b*t), rate = framerate, autoplay=True)

### Summary

In [7]:
def summary():
    print(f"Markup en {STORE.title()} por productbranch del {df['date'].min()} al {df['date'].max()}:\
    \n-Branch vs shopper:\t$ {round(b_s['markup_tot'].sum(),2)} mk\t{len(b_s)} pb\t{b_s['orders'].sum()} orders\
    \n-Branch vs catalog:\t$ {round(b_c['markup_tot'].sum(),2)} mk\t{len(b_c)} pb\t{b_c['orders'].sum()} orders\
    \n-Branch vs supply:\t$ {round(b_sc['markup_tot'].sum(),2)} mk\t{len(b_sc)} pb\t{b_sc['orders'].sum()} orders\
    \n-Not consolidated:\t$ {round(not_consol['markup_tot'].sum(),2)} mk\t{len(not_consol)} pb   \t{not_consol['orders'].sum()} orders\
    \n-Unmapped in supply:\t$ {round(unmapped['markup_tot'].sum(),2)} mk\t{len(unmapped)} pb   \t{unmapped['orders'].sum()} orders\
    ")

## Merge

In [8]:
total = orders[orders['level']=='TOTAL'].copy()
df = orders.merge(full,how='left')
df.head(2)

,level,date,catalog_product_id,branch,productbranch_id,min_branch_price,avg_branch_price,max_branch_price,min_shopper_price,avg_shopper_price,...,sales,store_id,price,sku_source,supply_product_id,name,barcode,price_mode,stock,min_last_visit
0,TOTAL,2021-06-07,0,0,0,0.0,0.0,0.0,0.0,0.0,...,"6,844,166.5",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TOTAL,2021-06-08,0,0,0,0.0,0.0,0.0,0.0,0.0,...,"5,108,588.4",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Markup

### Split

In [9]:
df['mk_branch_shopper'] = (df['avg_shopper_price'] - df['avg_branch_price']).apply(lambda x:round(x,3))
df['mk_branch_catalog'] = (df['price'] - df['avg_branch_price']).apply(lambda x:round(x,3))
df['mk_branch_supply'] = (df['price_mode'] - df['avg_branch_price']).apply(lambda x:round(x,3))
df['mk_catalog_supply'] = (df['price_mode'] - df['price']).apply(lambda x:round(x,3))
df.fillna({'mk_branch_shopper':0,'mk_branch_catalog':0,
           'mk_branch_supply':0,'mk_catalog_supply':0},inplace=True)
mk = {}

for mk_type in ['mk_branch_shopper','mk_branch_catalog','mk_branch_supply','mk_catalog_supply']:
    mk[mk_type] = df[df[mk_type]!=0].copy()
    print(mk_type,len(mk[mk_type]),'{:.1%}'.format(len(mk[mk_type])/len(df)),
          '\n',mk[mk_type][mk_type].describe(),'\n')

mk_branch_shopper 19958 7.1%
 count   19,958.0
mean         0.4
std         13.3
min       -349.0
25%         -1.3
50%          0.1
75%          2.0
max        375.0
Name: mk_branch_shopper, dtype: float64

mk_branch_catalog 50314 17.9%
 count   50,314.0
mean         0.6
std         10.9
min       -175.0
25%         -2.0
50%          0.1
75%          2.9
max        540.0
Name: mk_branch_catalog, dtype: float64

mk_branch_supply 110314 39.2%
 count   110,314.0
mean         -6.9
std          18.8
min        -730.0
25%          -9.4
50%          -3.5
75%          -0.5
max         250.0
Name: mk_branch_supply, dtype: float64

mk_catalog_supply 110324 39.2%
 count   110,324.0
mean         -7.0
std          18.6
min        -730.0
25%          -9.7
50%          -3.5
75%          -0.5
max         250.0
Name: mk_catalog_supply, dtype: float64

df['mk_branch_shopper'] = (df['avg_shopper_price'] - df['avg_branch_price']).apply(lambda x:round(x,3))
df['mk_branch_supply'] = (df['price_mode'] - df['avg_branch_price']).apply(lambda x:round(x,3))
df.fillna({'mk_branch_shopper':0,'mk_branch_supply':0},inplace=True)
mk = {}

for mk_type in ['mk_branch_shopper','mk_branch_supply']:
    mk[mk_type] = df[df[mk_type]!=0].copy()
    print(mk_type,len(mk[mk_type]),'{:.1%}'.format(len(mk[mk_type])/len(df)),
          '\n',mk[mk_type][mk_type].describe(),'\n')

### Branch vs shopper

In [10]:
b_s = mk['mk_branch_shopper'].groupby('productbranch_id'
                                     ).agg({'avg_branch_price':'mean','avg_shopper_price':'mean',
                                            'mk_branch_shopper':['mean','sum','count']})
b_s.columns = ['branch_price','shopper_price','markup_un','markup_tot','orders']
b_s.sort_values('markup_tot',inplace=True)
b_s

                  branch_price  shopper_price  markup_un  markup_tot  orders
productbranch_id
9832687                  439.0           90.0     -349.0      -349.0       1
5099602                  630.0          547.0      -83.0      -332.0       4
22572404                 596.0          541.2      -54.8      -328.8       6
9830683                  542.0          226.6     -315.4      -315.4       1
11006938                 542.0          397.5     -144.5      -289.0       2
...                        ...            ...        ...         ...     ...
8284721                  630.0          814.0      184.0       184.0       1
54255664                  82.0          284.0      202.0       202.0       1
92283966                 264.0          304.5       40.5       202.5       5
8540682                   38.0          255.0      217.0       651.0       3
80762361                  64.0          439.0      375.0     1,125.0       3

[13688 rows x 5 columns]

### Branch vs catalog

In [11]:
b_c = mk['mk_branch_catalog'].groupby('productbranch_id'
                                     ).agg({'avg_branch_price':'mean','price':'mean',
                                            'mk_branch_catalog':['mean','sum','count']})
b_c.columns = ['branch_price','catalog_price','markup_un','markup_tot','orders']
b_c.sort_values('markup_tot',inplace=True)
b_c.head(10)

                  branch_price  catalog_price  markup_un  markup_tot  orders
productbranch_id
8001560                  820.0          670.0     -150.0      -450.0       3
22572440                 596.0          533.0      -63.0      -441.0       7
22572346                 596.0          533.0      -63.0      -441.0       7
22572339                 595.3          533.0      -62.3      -436.2       7
5099610                  630.0          567.0      -63.0      -378.0       6
22572404                 596.0          533.0      -63.0      -378.0       6
5447993                  490.0          428.5      -61.5      -369.0       6
5099600                  630.0          567.0      -63.0      -315.0       5
5099602                  630.0          567.0      -63.0      -252.0       4
5447987                  490.0          428.5      -61.5      -246.0       4

### Branch vs supply

In [12]:
b_sc = mk['mk_branch_supply'].groupby('productbranch_id'
                                     ).agg({'avg_branch_price':'mean','price_mode':'mean',
                                            'mk_branch_supply':['mean','sum','count']})
b_sc.columns = ['branch_price','supply_price','markup_un','markup_tot','orders']
b_sc.sort_values('markup_tot',inplace=True)
b_sc.head(22)

                  branch_price  supply_price  markup_un  markup_tot  orders
productbranch_id
22572406                 596.0         410.0     -186.0    -1,302.0       7
22572440                 596.0         410.0     -186.0    -1,302.0       7
22572339                 595.3         410.0     -185.3    -1,297.2       7
5099610                  630.0         420.0     -210.0    -1,260.0       6
22572404                 596.0         410.0     -186.0    -1,116.0       6
5099600                  630.0         420.0     -210.0    -1,050.0       5
2740157                  199.0          61.0     -138.0      -966.0       7
2781446                  199.0          61.0     -138.0      -966.0       7
5447993                  490.0         340.0     -150.0      -900.0       6
21952334                 542.0         392.0     -150.0      -900.0       6
9830680                  542.0         420.0     -122.0      -854.0       7
9833027                  542.0         420.0     -122.0      -854.0       7
9833029                  542.0         420.0     -122.0      -854.0       7
9830688                  542.0         420.0     -122.0      -854.0       7
9830675                  540.4         420.0     -120.4      -843.0       7
5099609                  630.0         420.0     -210.0      -840.0       4
5099602                  630.0         420.0     -210.0      -840.0       4
9833030                  528.0         412.0     -116.0      -812.0       7
9830682                  542.0         408.0     -134.0      -804.0       6
9833136                  542.0         408.0     -134.0      -804.0       6
5093630                  571.0         459.0     -112.0      -784.0       7
5093636                  571.0         459.0     -112.0      -784.0       7

### Branch vs supply (product_id)

In [13]:
b_c_p = mk['mk_branch_supply'].groupby('catalog_product_id'
                                     ).agg({'avg_branch_price':'mean','price_mode':'mean',
                                            'mk_branch_supply':['mean','sum','count']})
b_c_p.columns = ['branch_price','supply_price','markup_un','markup_tot','orders']
b_c_p.sort_values('markup_tot',inplace=True)
b_c_p.head(22)

                    branch_price  supply_price  markup_un  markup_tot  orders
catalog_product_id
414248                     538.6         428.9     -109.7    -9,543.0      87
414201                     538.2         426.6     -111.7    -9,491.0      85
1162319                    591.8         414.9     -176.9    -7,252.3      41
336076                     630.0         432.1     -197.9    -5,144.1      26
384459                     286.9         220.5      -66.5    -4,853.6      73
414249                     409.3         319.4      -89.9    -4,766.8      53
600485                     346.0         288.7      -57.3    -4,755.5      83
167744                      94.0          52.9      -41.1    -4,725.3     115
336024                     571.0         457.6     -113.4    -4,423.0      39
167725                     130.4          84.6      -45.8    -4,076.1      89
168152                     248.0         171.5      -76.5    -3,904.0      51
337703                     279.0         210.5      -68.5    -3,765.8      55
167796                     187.1         155.2      -31.9    -3,737.0     117
168029                     489.0         393.7      -95.3    -3,430.0      36
1378180                    456.5         335.5     -121.0    -3,146.0      26
167723                      31.7          13.7      -18.0    -2,977.7     165
168027                     469.0         399.6      -69.4    -2,915.0      42
274697                      33.5          13.7      -19.8    -2,855.9     144
337554                     490.0         338.2     -151.8    -2,733.0      18
336075                     137.1          91.3      -45.7    -2,696.9      59
167795                     194.8         170.8      -24.1    -2,694.8     112
167650                     130.0         110.6      -19.4    -2,603.6     134

### Catalog vs supply

In [14]:
b_sc = mk['mk_branch_catalog'].groupby('productbranch_id'
                                     ).agg({'price':'mean','price_mode':'mean',
                                            'mk_catalog_supply':['mean','sum','count']})
b_sc.columns = ['catalog_price','supply_price','markup_un','markup_tot','orders']
b_sc.sort_values('markup_tot',inplace=True)
b_sc.head(10)

                  catalog_price  supply_price  markup_un  markup_tot  orders
productbranch_id
5099610                   567.0         420.0     -147.0      -882.0       6
22572440                  533.0         410.0     -123.0      -861.0       7
22572339                  533.0         410.0     -123.0      -861.0       7
22572404                  533.0         410.0     -123.0      -738.0       6
5099600                   567.0         420.0     -147.0      -735.0       5
2756269                   639.0         459.0     -180.0      -720.0       4
45775122                  907.0         699.0     -208.0      -624.0       3
22572408                  533.0         410.0     -123.0      -615.0       5
5099602                   567.0         420.0     -147.0      -588.0       4
1360686                   112.5          31.5      -81.0      -567.0       7

## Not consolidated

tot_mk = mk['mk_branch_shopper'].append(mk['mk_branch_catalog'])
not_consol = tot_mk[tot_mk['avg_shopper_price'].isnull()].copy()
not_consol = not_consol.groupby('productbranch_id').agg({'avg_branch_price':'mean','price':'mean',
                                                         'mk_branch_catalog':['mean','sum','count']})
not_consol.columns = ['branch_price','catalog_price','markup_un','markup_tot','orders']
not_consol.sort_values('markup_tot',inplace=True)
not_consol

In [15]:
tot_mk = mk['mk_branch_shopper'].append(mk['mk_branch_supply'])
not_consol = tot_mk[tot_mk['avg_shopper_price'].isnull()].copy()
not_consol = not_consol.groupby('productbranch_id').agg({'avg_branch_price':'mean','price_mode':'mean',
                                                         'mk_branch_supply':['mean','sum','count']})
not_consol.columns = ['branch_price','catalog_price','markup_un','markup_tot','orders']
not_consol.sort_values('markup_tot',inplace=True)
not_consol

                  branch_price  catalog_price  markup_un  markup_tot  orders
productbranch_id
5987910                1,000.5          662.0     -338.5      -338.5       1
1335114                  460.0          400.0      -60.0      -300.0       5
26486287                 490.0          221.0     -269.0      -269.0       1
5099578                  137.0           85.0      -52.0      -260.0       5
13956098                 885.0          625.0     -260.0      -260.0       1
...                        ...            ...        ...         ...     ...
2783033                   26.0           73.5       47.4       189.8       4
5438568                   54.0           93.5       39.5       197.8       5
10171321                   1.0          229.0      228.0       228.0       1
2789602                   26.0           73.5       47.4       237.2       5
5716632                   18.0          142.0      124.0       372.0       3

[6529 rows x 5 columns]

## Unmapped

In [16]:
unmapped = tot_mk[tot_mk['stock'].isnull()].copy()
unmapped = unmapped.groupby('productbranch_id').agg({'avg_branch_price':'mean',
                                                     'avg_shopper_price':'mean',
                                                     'mk_branch_shopper':['mean','sum','count']})
unmapped.columns = ['branch_price','shopper_price','markup_un','markup_tot','orders']
unmapped.sort_values('markup_tot',0,0,inplace=True)
unmapped.head(11)

                  branch_price  shopper_price  markup_un  markup_tot  orders
productbranch_id
80762361                  64.0          439.0      375.0     1,125.0       3
8540682                   38.0          255.0      217.0       651.0       3
92283966                 264.0          304.5       40.5       202.5       5
10962338                  29.0          195.0      166.0       166.0       1
14603798                 145.0          300.0      155.0       155.0       1
22574001                  73.5          149.2       75.8       151.5       2
53642487                 699.0          850.0      151.0       151.0       1
55336723                 225.0          375.0      150.0       150.0       1
27104622                  19.0          168.0      149.0       149.0       1
36113661                 250.0          322.0       72.0       144.0       2
39583272                  60.0          190.0      130.0       130.0       1

## Summary

In [17]:
time_exp(time.time()-start)
tono()

0 minutos con 1.97 segundos

In [18]:
summary()

Markup en Chedraui por productbranch del 2021-06-03 al 2021-06-09:
-Branch vs shopper:	$ 8718.48 mk	13688 pb	19958 orders
-Branch vs catalog:	$ 30815.48 mk	24918 pb	50314 orders
-Branch vs supply:	$ -164321.13 mk	24918 pb	50314 orders
-Not consolidated:	$ -46960.18 mk	6529 pb   	8463 orders
-Unmapped in supply:	$ 7322.4 mk	9932 pb   	15750 orders