In [5]:
import pandas as pd

df = pd.read_csv('/Users/efraflores/Desktop/borrar.csv').drop_duplicates()
df.sample()

        product_id   store
158203      353263  25|HEB

In [6]:
df['n'] = 1
df = df.pivot_table(index='product_id', columns='store', values='n', aggfunc=sum, fill_value=0)
df.head()

store,1330|Alsuper,1423|La Comer,1424|Sumesa,1452|Fresh Market,22|Chedraui,25|HEB,3729|Soriana,45|Fresko,7089|Alsuper Plus,7|Costco,9|City Market
product_id,,,,,,,,,,,
90085,0,0,0,0,1,0,1,0,0,0,0
90518,0,0,0,0,0,1,1,0,0,0,0
90654,0,0,0,0,1,0,1,0,0,0,0
91659,0,0,0,0,0,1,0,0,0,0,0
94319,0,0,0,0,1,0,0,0,0,0,0

In [7]:
df.to_csv('p_stores.csv', sep='\t', encoding='utf-16')